<li class="sidebar-item workflow-sidebar-item">
  <a [routerLink]="navRouterLink" routerLinkActive="active" class="sidebar-link" [class.disabled]="disabled">
    <div>
      @if (complete) {
        <icon class="complete" icon="StepComplete"></icon>
      } @else if (required) {
        <icon class="fade" icon="StepIncomplete"></icon>
      } @else {
        <icon class="info" icon="Info"></icon>
      }
    </div>
    <div [class.required]="required">
      <ng-content></ng-content>
    </div>
    @if (hasChanges) {
      <icon icon="Flag" class="has-changes-flag"></icon>
    }
  </a>
</li>
