.crosswalk-modal {
    &__container {
        border: 1px solid #ccc;
        padding: 10px;
        margin-top: 10px;
    }

    &__add-row {
        input[type="text"],
        .ng-select.custom .ng-select-container {
            height: 3rem;
        }
    }
}
