.external-links-step {
    &__add-form {
        padding: var(--spacing-400);
        background: #f8f9fa;
        border-radius: 4px;
        margin-bottom: var(--spacing-400);
    }

    &__list {
        table {
            margin-bottom: 0;

            th, td {
                vertical-align: middle;
            }

            a.disabled {
                pointer-events: none;
                opacity: 0.5;
            }

            a[target="_blank"] {
                word-break: break-all;
            }
        }
    }
}
