# /Batch/
/Batch

# /Source/
/Source/.vs/
/Source/Corral.v12.suo
/Source/NuGetPackages
/Source/WADNRForestHealth.sln.DotSettings
/Source/WADNRForestHealth.sln.DotSettings.user
/Source/**/bin/
/Source/**/obj/

/WADNRForestHealthTracker/WADNRForestHealthTracker.Common/*.user
WADNRForestHealthTracker.GeoServer/data_dir/security/*
WADNRForestHealthTracker.GeoServer/data_dir/.updatepassword.lock
WADNRForestHealthTracker.GeoServer/data_dir/geoserver-environment.properties
WADNRForestHealthTracker.GeoServer/data_dir/s3.properties
WADNRForestHealthTracker.GeoServer/data_dir/controlflow.properties
WADNRForestHealthTracker.GeoServer/data_dir/logs/geoserver.log.1
#WADNRForestHealthTracker.GeoServer/data_dir/gwc-layers
WADNRForestHealthTracker.GeoServer/data_dir/logs
#WADNRForestHealthTracker.GeoServer/data_dir/gwc

# /Source/LtInfo.Common/HealthMonitor/

# /Source/ProjectFirma.Web/
/Source/ProjectFirma.Web/*.user
/Source/ProjectFirma.Web/Web.config
/Database/SourceExcelFiles/~$7_19_18_Grand_Master_thru_May_2018_charges_cr_MJ.xlsx
/.vs/wadnrforesthealth/v16/*.suo

*.vshistory
*.vs
/**/bin/
/**/obj/
*.dbmdl
*.jfm

*.env
/.dockerignore
/*.user
*.user
*.cache
/WADNRForestHealthTracker.Database/*.jfm
bin
obj
/Build/temp
/WADNRForestHealthTracker.API/appsecrets.json
