<generic-wms-wfs-layer
    [map]="map"
    [layerControl]="layerControl"
    [interactive]="interactive"
    [displayOnLoad]="displayOnLoad"
    [sortOrder]="sortOrder"
    [cqlFilter]="cqlFilter"
    [selectedIDs]="allowMultipleSelect ? selectedIDsState : selectedIDs && selectedIDs.length ? [selectedIDs[0]] : null"
    [wmsLayerName]="addToLayerControl || !(selectedIDs && selectedIDs.length) ? wfsFeatureType : null"
    [wmsStyle]="wmsStyle"
    [wfsFeatureType]="wfsFeatureType"
    [identifierProperty]="identifierProperty"
    [overlayLabel]="overlayLabel"
    [selectedStyle]="selectedStyle"
    (selectedIDsChange)="onFeatureSelected($event)">
    <ng-template layerName>
        <span>Urban Catchments</span>
    </ng-template>
</generic-wms-wfs-layer>
