<wadnr-map (onMapLoad)="handleMapReady($event)" [mapHeight]="mapHeight" [disableMapInteraction]="disableMapInteraction" [showLegend]="false">
    @if (map) {
    <project-locations-simple-layer
        [map]="map"
        [layerControl]="layerControl"
        [controlTitle]="controlTitle"
        [projectPoints]="projectPoints"
        [filterPropertyName]="filterPropertyName"
        [filterPropertyValues]="filterPropertyValues"
        [colorByPropertyName]="colorByPropertyName"
        [legendColorsToUse]="legendColorsToUse"
        [debugLogs]="debugLogs"
        [clusterPoints]="cluster"
        (markerClicked)="markerClicked.emit($event)">
    </project-locations-simple-layer>
    }
</wadnr-map>
