@use "/src/scss/abstracts" as *;

.wadnr-grid {
    &__footer {
        padding: var(--spacing-400);
        border: 1px solid rgba(var(--black-rgb), 0.1);
        border-top: none;
        border-radius: 0 0 var(--spacing-200) var(--spacing-200);
        gap: 1em;
        font-size: var(--type-size-200);
    }

    &__row-count {
        text-align: right;
    }

    &__filtered-count {
        color: var(--gray-default);
        font-size: var(--type-size-100);
        font-style: italic;
        padding-top: var(--spacing-050);
    }

    &__fullscreen-btn {
        padding-right: var(--spacing-200);
    }
}

.full-screen {
    ag-grid-angular {
        height: 92% !important;
    }

    .wadnr-grid__footer {
        height: 8% !important;
        background-color: white;
    }
}
