@if (projectCode$ | async; as projectCode) {
<breadcrumb [items]="[{ label: 'Project Codes', url: '/project-codes' }, { label: projectCode.ProjectCodeName }]" [linkLast]="false"></breadcrumb>
<page-header pageTitle="{{ projectCode.ProjectCodeName }}"></page-header>

<div class="grid-12">
    <div class="g-col-6">
        <div class="card">
            <div class="card-header"><span class="card-title">Basics</span></div>
            <div class="card-body">
                <div class="grid-12">
                    <div class="g-col-4">
                        <strong>Project Code</strong>
                    </div>
                    <div class="g-col-8">{{ projectCode.ProjectCodeName }}</div>

                    @if (projectCode.ProjectCodeTitle) {
                    <div class="g-col-4">
                        <strong>Title</strong>
                    </div>
                    <div class="g-col-8">{{ projectCode.ProjectCodeTitle }}</div>
                    }

                    @if (projectCode.CreateDate) {
                    <div class="g-col-4">
                        <strong>Create Date</strong>
                    </div>
                    <div class="g-col-8">{{ projectCode.CreateDate | date:'M/d/yyyy' }}</div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="g-col-6">
        <div class="card">
            <div class="card-header"><span class="card-title">Project Dates</span></div>
            <div class="card-body">
                <div class="grid-12">
                    @if (projectCode.ProjectStartDate) {
                    <div class="g-col-4">
                        <strong>Start Date</strong>
                    </div>
                    <div class="g-col-8">{{ projectCode.ProjectStartDate | date:'M/d/yyyy' }}</div>
                    }

                    @if (projectCode.ProjectEndDate) {
                    <div class="g-col-4">
                        <strong>End Date</strong>
                    </div>
                    <div class="g-col-8">{{ projectCode.ProjectEndDate | date:'M/d/yyyy' }}</div>
                    }

                    @if (!projectCode.ProjectStartDate && !projectCode.ProjectEndDate) {
                    <div class="g-col-12">
                        <p class="text-muted mb-0">No project dates specified.</p>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="g-col-12">
        <div class="card">
            <div class="card-header"><span class="card-title">Usage</span></div>
            <div class="card-body">
                <div class="grid-12">
                    <div class="g-col-4">
                        <strong># of Invoices</strong>
                    </div>
                    <div class="g-col-8">{{ projectCode.InvoiceCount }}</div>

                    <div class="g-col-4">
                        <strong># of Fund Source Allocations</strong>
                    </div>
                    <div class="g-col-8">{{ projectCode.FundSourceAllocationCount }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
}
