<page-header pageTitle="Interactions/Events" [customRichTextTypeID]="customRichTextTypeID"></page-header>

<div class="page-body">
    <wadnr-grid [rowData]="interactionEvents$ | async" [columnDefs]="columnDefs" downloadFileName="interactions-events" fullscreenTitle="Interactions/Events" [sizeColumnsToFitGrid]="true">
        @if (canEditInteractionEvents$ | async) {
        <div customGridActionsRight>
            <button class="btn btn-sm btn-primary" (click)="createNewInteractionEvent()">
                <span class="fas fa-plus"></span> Create New
            </button>
        </div>
        }
    </wadnr-grid>
</div>
