@use "/src/scss/abstracts" as *;

.field-definition-wrapper {
    display: inline-block;
}

.field-definition-label {
    display: inline-flex;
    align-items: center;
    font-size: var(--type-size-200);
    line-height: 1.4;
    color: var(--color-text);

    &__text {
        font-weight: bold;
    }
}

.field-definition-label__icon {
    display: inline-flex;
    align-items: center;
}

.inline-display {
    align-items: start;
    column-gap: 0.8rem;

    .edit-button {
        cursor: pointer;
        color: var(--primary);

        &:hover {
            text-decoration: underline;
        }
    }
}

.fa-question-circle {
    color: var(--secondary);
}

::ng-deep .popover-body {
    padding: var(--spacing-500) !important;

    ul {
        li {
            list-style: disc;
        }
    }
    ol {
        li {
            list-style: decimal;
        }
    }
}
