// classifications step styles

.classification-system-section {
    margin-bottom: var(--spacing-400);
}

.classification-system-name {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: var(--spacing-400);
}

.classification-row {
    padding-top: var(--spacing-400);
    padding-bottom: var(--spacing-200);
}

.classification-label {
    display: flex;
    align-items: flex-start;
    gap: var(--spacing-200);
    cursor: pointer;

    input[type="checkbox"] {
        margin-top: var(--spacing-100);
    }

    .classification-name {
        font-weight: 600;
    }
}

.classification-description {
    font-size: 0.85rem;
    color: #666;
    margin-top: var(--spacing-100);
    margin-left: var(--spacing-500);
}

.classification-notes {
    &.disabled {
        background-color: #eeeeee;
    }
}
