@if (programIndex$ | async; as programIndex) {
<breadcrumb [items]="[{ label: 'Program Indices', url: '/program-indices' }, { label: programIndex.ProgramIndexCode }]" [linkLast]="false"></breadcrumb>
<page-header pageTitle="{{ programIndex.ProgramIndexCode }} - {{ programIndex.ProgramIndexTitle }}"></page-header>

<div class="grid-12">
    <div class="g-col-6">
        <div class="card">
            <div class="card-header"><span class="card-title">Basics</span></div>
            <div class="card-body">
                <div class="grid-12">
                    <div class="g-col-4">
                        <strong>Program Index Code</strong>
                    </div>
                    <div class="g-col-8">{{ programIndex.ProgramIndexCode }}</div>

                    <div class="g-col-4">
                        <strong>Title</strong>
                    </div>
                    <div class="g-col-8">{{ programIndex.ProgramIndexTitle }}</div>

                    <div class="g-col-4">
                        <strong>Biennium</strong>
                    </div>
                    <div class="g-col-8">{{ programIndex.Biennium }}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="g-col-6">
        <div class="card">
            <div class="card-header"><span class="card-title">Details</span></div>
            <div class="card-body">
                <div class="grid-12">
                    @if (programIndex.Activity) {
                    <div class="g-col-4">
                        <strong>Activity</strong>
                    </div>
                    <div class="g-col-8">{{ programIndex.Activity }}</div>
                    }

                    @if (programIndex.Program) {
                    <div class="g-col-4">
                        <strong>Program</strong>
                    </div>
                    <div class="g-col-8">{{ programIndex.Program }}</div>
                    }

                    @if (programIndex.Subprogram) {
                    <div class="g-col-4">
                        <strong>Subprogram</strong>
                    </div>
                    <div class="g-col-8">{{ programIndex.Subprogram }}</div>
                    }

                    @if (programIndex.Subactivity) {
                    <div class="g-col-4">
                        <strong>Subactivity</strong>
                    </div>
                    <div class="g-col-8">{{ programIndex.Subactivity }}</div>
                    }

                    <div class="g-col-4">
                        <strong># of Invoices</strong>
                    </div>
                    <div class="g-col-8">{{ programIndex.InvoiceCount }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
}
