<page-header pageTitle="Manage External Map Layers" [customRichTextTypeID]="customRichTextTypeID"></page-header>

<div class="page-body">
    <div class="flex-end mb-1">
        <button class="btn btn-sm btn-primary" (click)="openCreate()">Add External Map Layer</button>
    </div>
    <div>
        <wadnr-grid
            [rowData]="mapLayers$ | async"
            [columnDefs]="columnDefs"
            downloadFileName="external-map-layers"
            [sizeColumnsToFitGrid]="true">
        </wadnr-grid>
    </div>
</div>
