<div (click)="onSortRequested($event)" class="flex-between">
    <div #header class="custom-header-label">
        <field-definition [fieldDefinition]="params.fieldDefinitionType" [labelOverride]="params.labelOverride" [inline]="false" [useBodyContainer]="true"></field-definition>
    </div>
    @if (filtered) {
    <div class="filter-indicator">*</div>
    }

    <!-- MP 1/8/26 Same with this one ¯\(ツ)/¯. See below comment -->
    <!-- <div [hidden]="!params.enableSorting" class="sort-buttons">
        @if (this.sorted === 'desc') {
        <i class="fa fa-long-arrow-down"></i>
        } @if (this.sorted === 'asc') {
        <i class="fa fa-long-arrow-up"></i>
        }
    </div> -->

    <!-- MP 1/2/26 Not sure why this is here when the regular filter works fine? It's creating double filter icons. -->
    <!-- <div class="custom-filter-button" (click)="onMenuClick($event)">
        <i class="fas fa-filter" [class.filtered]="filtered"></i>
    </div> -->
</div>
