@use "/src/scss/abstracts" as *;

.page-header {
    &__flex {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        gap: var(--spacing-900);
    }

    &__icon {
        color: var(--blue-light);
        width: 1.5rem;
    }

    &__copy {
        @include desktop-medium {
            padding-top: var(--spacing-400);
        }
    }
}
