@mixin btn-disabled {
    &.disabled,
    &:disabled {
        background: var(--gray-200);
        border: 1px solid var(--gray-default);
        text-shadow: unset;
        color: var(--gray-900);

        &:hover {
            cursor: not-allowed;
            background: var(--gray-200);
            pointer-events: none;
            color: var(--gray-900);
        }
    }
}
