@if (showRevertActions) {
    <div class="workflow-step-actions">
        <div class="workflow-step-actions__buttons-row">
            <div class="workflow-step-actions__left">
                <button
                    type="button"
                    class="btn btn-primary"
                    (click)="onRevertClick()"
                    [disabled]="!canRevert || isSaving || (isReverting$ | async)">
                    @if (isReverting$ | async) {
                        Reverting...
                    } @else {
                        Revert Current Page
                    }
                </button>
                @if (hasChanges) {
                    <button
                        type="button"
                        class="btn btn-primary"
                        (click)="onShowChangesClick()"
                        [disabled]="isSaving || (isLoadingDiff$ | async)">
                        @if (isLoadingDiff$ | async) {
                            Loading...
                        } @else {
                            Show Changes
                        }
                    </button>
                }
            </div>
            <div class="workflow-step-actions__right">
                <button
                    type="button"
                    class="btn btn-primary"
                    (click)="onSaveClick()"
                    [disabled]="isSaving">
                    @if (isSaving) {
                        {{ savingText }}
                    } @else {
                        {{ saveButtonText }}
                    }
                </button>
                <button
                    type="button"
                    class="btn btn-primary"
                    (click)="onSaveAndContinueClick()"
                    [disabled]="isSaving">
                    @if (isSaving) {
                        {{ savingText }}
                    } @else {
                        {{ continueButtonText }}
                    }
                </button>
            </div>
        </div>
        <div class="required-note">
            <span class="required-indicator">*</span> Required Field
        </div>
    </div>
} @else {
    <div class="workflow-step-actions">
        <div class="workflow-step-actions__buttons-row">
            <div class="required-note">
                <span class="required-indicator">*</span> Required Field
            </div>
            <div class="workflow-step-actions__right">
                <button
                    type="button"
                    class="btn btn-primary"
                    (click)="onSaveClick()"
                    [disabled]="isSaving">
                    @if (isSaving) {
                        {{ savingText }}
                    } @else {
                        {{ saveButtonText }}
                    }
                </button>
                <button
                    type="button"
                    class="btn btn-primary"
                    (click)="onSaveAndContinueClick()"
                    [disabled]="isSaving">
                    @if (isSaving) {
                        {{ savingText }}
                    } @else {
                        {{ continueButtonText }}
                    }
                </button>
            </div>
        </div>
    </div>
}
