DOCKER_BUILD_SOURCE=.
SECRET_PATH=/run/secrets/appsecrets
ASPNETCORE_ENVIRONMENT=Development
KEYSTONE_HOST={keystone_host}
SMTP_HOST={your_computer_ip}
SMTP_PORT=25
SitkaEmailRedirect={set_to_blank_for_prod}
SitkaSupportEmail=rocket.team@sitkatech.com
KEYSTONE_REDIRECT_URL={url for invited user to redirect to after keystone verification}
LakeTahoeInfoBaseUrl=
ParcelTrackerBaseUrl=
EIPProjectTrackerBaseUrl=
LakeClarityTrackerBaseUrl=
MonitoringDashboardBaseUrl=
ThresholdDashboardBaseUrl=
TransportationTrackerBaseUrl=
RECAPTCHA_SECRET_KEY={Secret key for recaptcha api}
RECAPTCHA_VERIFY_URL={Google's current recaptcha verify url}
RECAPTCHA_SCORE_THRESHOLD={Score you would like the verified recaptcha to  have in order to succeed}
SitkaCaptureServiceUrl=

# Finance API (ArcGIS Online)
ProjectCodeJsonApiBaseUrl=
ProgramIndexJsonApiBaseUrl=
VendorJsonApiBaseUrl=
FundSourceExpendituresJsonApiBaseUrl=
DataImportAuthUrl=
DataImportAuthUsername=
DataImportAuthPassword=
LastLoadDateUrl=

# GIS Data Import (ArcGIS Online)
ArcGisAuthUrl=
ArcGisClientId=
ArcGisClientSecret=
ArcGisLoaDataEasternUrl=
ArcGisLoaDataWesternUrl=
ArcGisUsfsDataUrl=
ArcGisUsfsNepaBoundaryDataUrl=

# Notifications
WebsiteDisplayName=WA DNR Forest Health Tracker