@use "/src/scss/abstracts" as *;
:host {
    margin: -13px -24px -13px -20px;
    display: flex;
}

.popup-wrapper {
    width: 700px;
    display: flex;
    flex-direction: column;
    gap: 0rem;
    padding: 16px;
    & > * {
        font-family: var(--lexend);
        font-size: 12px;
    }
}

.project-title {
    border-bottom: 1px solid rgba(var(--black-rgb), 0.05);
    padding-bottom: 1rem;
}

.popup-body {
    .grid-12 {
        column-gap: 0.5rem;
        row-gap: 0.25rem;
    }

    dt,
    dd {
        font-size: var(--type-size-100);

        field-definition {
            font-size: var(--type-size-100);
        }

        padding: 0;
        margin: 0;
    }
}
