<div class="field">
    @if (fieldDefinitionName) {
        <span class="form-field__definition-container" [id]="labelId" [class.required]="formControl | isRequired">
            <field-definition [fieldDefinition]="fieldDefinitionName" [labelOverride]="fieldDefinitionLabelOverride"></field-definition>
        </span>
    }
    @if (!readOnly) {
        @switch (type) {
            <!-- Text -->
            @case (FormFieldType.Text) {
                @if (!fieldDefinitionName && fieldLabel) {
                    <label class="form-field__label" [class.sr-only]="srOnlyLabel" [for]="inputId" [class.required]="formControl | isRequired">
                        {{ fieldLabel }}
                    </label>
                }
                <div class="form-field__units-wrapper">
                    <input [id]="inputId" [attr.aria-labelledby]="fieldDefinitionName ? labelId : null" [mask]="mask" type="text" [placeholder]="placeholder" [formControl]="formControl" [name]="name" />
                    @if (units) {
                        <span class="form-field__units">{{ units }}</span>
                    }
                </div>
            }
            <!-- Number -->
            @case (FormFieldType.Number) {
                @if (!fieldDefinitionName && fieldLabel) {
                    <label class="form-field__label" [class.sr-only]="srOnlyLabel" [for]="inputId" [class.required]="formControl | isRequired">
                        {{ fieldLabel }}
                    </label>
                }
                <div class="form-field__units-wrapper">
                    <input [id]="inputId" [attr.aria-labelledby]="fieldDefinitionName ? labelId : null" type="number" [placeholder]="placeholder" [formControl]="formControl" [mask]="mask" [name]="name" />
                    @if (units) {
                        <span class="form-field__units">{{ units }}</span>
                    }
                </div>
            }
            <!-- Currency -->
            @case (FormFieldType.Currency) {
                @if (!fieldDefinitionName && fieldLabel) {
                    <label class="form-field__label" [class.sr-only]="srOnlyLabel" [for]="inputId" [class.required]="formControl | isRequired">
                        {{ fieldLabel }}
                    </label>
                }
                <div class="form-field__units-wrapper">
                    <input
                        [id]="inputId"
                        [attr.aria-labelledby]="fieldDefinitionName ? labelId : null"
                        type="text"
                        [placeholder]="placeholder"
                        [value]="currencyDisplayValue"
                        (input)="onCurrencyInput($event)"
                        (focus)="onCurrencyFocus()"
                        (blur)="onCurrencyBlur()"
                        [name]="name"
                        inputmode="decimal" />
                    @if (units) {
                        <span class="form-field__units">{{ units }}</span>
                    }
                </div>
            }
            <!-- Textarea -->
            @case (FormFieldType.Textarea) {
                @if (!fieldDefinitionName && fieldLabel) {
                    <label class="form-field__label" [class.sr-only]="srOnlyLabel" [for]="inputId" [class.required]="formControl | isRequired">
                        {{ fieldLabel }}
                    </label>
                }
                <textarea [id]="inputId" [attr.aria-labelledby]="fieldDefinitionName ? labelId : null" [placeholder]="placeholder" [formControl]="formControl" [name]="name"></textarea>
            }
            <!-- RTE -->
            @case (FormFieldType.RTE) {
                @if (!fieldDefinitionName && fieldLabel) {
                    <label class="form-field__label" [class.sr-only]="srOnlyLabel" [for]="inputId" [class.required]="formControl | isRequired">
                        {{ fieldLabel }}
                    </label>
                }
                <editor [id]="inputId" #tinyMceEditor [init]="tinyMceEditor | tinyMceConfig: ariaLabelText" [formControl]="formControl"></editor>
            }
            <!-- Toggle -->
            @case (FormFieldType.Toggle) {
                @if (!fieldDefinitionName && fieldLabel) {
                    <label class="form-field__label" [class.sr-only]="srOnlyLabel" [for]="inputId" [class.required]="formControl | isRequired">
                        {{ fieldLabel }}
                    </label>
                }
                <div class="switch-container" [style.minHeight]="toggleHeight">
                    <label class="switch">
                        <input [id]="inputId" [attr.aria-label]="fieldDefinitionName ? ariaLabelText : null" type="checkbox" [formControl]="formControl" [name]="name" />
                        <span class="toggle" [attr.check-true]="toggleTrue" [attr.check-false]="toggleFalse"></span>
                    </label>
                </div>
            }
            <!-- Check -->
            @case (FormFieldType.Check) {
                @if (!fieldDefinitionName && fieldLabel) {
                    <label class="form-field__label" [class.sr-only]="srOnlyLabel" [for]="inputId" [class.required]="formControl | isRequired">
                        {{ fieldLabel }}
                    </label>
                }
                <label class="form-field__check-label">
                    <input [id]="inputId" type="checkbox" [formControl]="formControl" [name]="name" />
                    {{ checkLabel }}
                </label>
            }
            <!-- Date -->
            @case (FormFieldType.Date) {
                @if (!fieldDefinitionName && fieldLabel) {
                    <label class="form-field__label" [class.sr-only]="srOnlyLabel" [for]="inputId" [class.required]="formControl | isRequired">
                        {{ fieldLabel }}
                    </label>
                }
                <input [id]="inputId" [attr.aria-labelledby]="fieldDefinitionName ? labelId : null" type="date" [formControl]="formControl" [name]="name" />
            }
            <!-- Select -->
            @case (FormFieldType.Select) {
                @if (!fieldDefinitionName && fieldLabel) {
                    <label class="form-field__label" [class.sr-only]="srOnlyLabel" [for]="inputId" [class.required]="formControl | isRequired">
                        {{ fieldLabel }}
                    </label>
                }
                @if (formInputOptions) {
                    <ng-select
                        class="custom"
                        [labelForId]="inputId"
                        [ariaLabel]="fieldDefinitionName ? ariaLabelText : null"
                        [items]="formInputOptions"
                        [formControl]="formControl"
                        [multiple]="multiple"
                        [searchable]="searchable"
                        [clearable]="clearable"
                        [bindLabel]="formInputOptionLabel"
                        [bindValue]="formInputOptionValue"
                        [placeholder]="placeholder"
                        [appendTo]="appendTo"
                        (change)="onNgSelectChange($event)">
                        <ng-template ng-label-tmp let-item="item">
                            <span [title]="item[formInputOptionLabel]">{{ item[formInputOptionLabel] }}</span>
                        </ng-template>
                        <ng-template ng-option-tmp let-item="item">
                            <span [title]="item[formInputOptionLabel]">{{ item[formInputOptionLabel] }}</span>
                        </ng-template>
                    </ng-select>
                } @else {
                    <span class="text-danger"> No "formInputOptions" were provided to this form field component </span>
                }
            }
            <!-- Radio -->
            @case (FormFieldType.Radio) {
                @if (!fieldDefinitionName && fieldLabel) {
                    <span class="form-field__label" [class.sr-only]="srOnlyLabel" [class.required]="formControl | isRequired">
                        {{ fieldLabel }}
                    </span>
                }
                <div class="form-field__radio-options" role="radiogroup"
                    [attr.aria-labelledby]="fieldDefinitionName ? labelId : null"
                    [attr.aria-label]="!fieldDefinitionName && fieldLabel ? fieldLabel : null">
                    @for (formInputOption of formInputOptions; track formInputOption) {
                        <label>
                            <input type="radio" [formControl]="formControl" [name]="name" [value]="formInputOption.Value" />
                            {{ formInputOption.Label }}
                        </label>
                    }
                </div>
            }
            <!-- File -->
            @case (FormFieldType.File) {
                @if (!fieldDefinitionName && fieldLabel) {
                    <label class="form-field__label" [class.sr-only]="srOnlyLabel" [for]="inputId" [class.required]="formControl | isRequired">
                        {{ fieldLabel }}
                    </label>
                }
                @if (multiple) {
                    <div class="form-field__multi-file-list">
                        @for (file of selectedFiles; track $index) {
                            <div class="form-field__multi-file-item">
                                <span class="form-field__multi-file-name" [title]="file.name">{{ file.name }}</span>
                                <button type="button" class="btn btn-sm btn-outline-danger" (click)="removeFile($index)">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        }
                    </div>
                    <input
                        [id]="inputId"
                        type="file"
                        #fileUploadField
                        multiple
                        (change)="onFileChange($event)"
                        [accept]="uploadFileAccepts"
                        style="display: none" />
                    <button type="button" class="btn btn-sm btn-outline-primary" (click)="onClickFileUpload($event)">
                        <i class="fas fa-plus"></i> Add File(s)
                    </button>
                } @else {
                    <div class="custom-file-upload">
                        <input
                            [id]="inputId"
                            type="file"
                            #fileUploadField
                            (change)="onFileChange($event)"
                            [accept]="uploadFileAccepts"
                            [placeholder]="placeholder"
                            [formControl]="formControl"
                            [name]="name" />
                        {{ formControl.value ? formControl.value.name : "No file chosen..." }}
                        <button type="button" class="btn btn-lg btn-primary" (click)="onClickFileUpload($event)">
                            <i class="fas fa-folder-open"></i>
                            Browse
                        </button>
                    </div>
                }
                <div class="copy copy-3 pt-2">
                    <em>
                        Maximum total file size should not exceed 500MB. Accepted extensions:
                        <strong>{{ uploadFileAccepts }}</strong>
                    </em>
                </div>
            }
        }
    } @else {
        @if (!fieldDefinitionName && fieldLabel) {
            <span class="form-field__label" [class.required]="formControl | isRequired">
                {{ fieldLabel }}
            </span>
        }
        <div>
            <span>{{ formControl.getRawValue() }}</span>
            @if (units) {
                <span class="form-field__units">{{ units }}</span>
            }
        </div>
    }
    <input-errors [validateFormControl]="formControl"></input-errors>
</div>
