<div class="modal">
    <div class="modal-header">
        <h3>{{ modalTitle }}</h3>
    </div>
    <div class="modal-body">
        <modal-alerts [alerts]="localAlerts" (onClosed)="removeLocalAlert($event)"></modal-alerts>

        <form [formGroup]="form">
            @if (isCreateMode) {
                <form-field
                    [formControl]="fileControl"
                    fieldLabel="Image File"
                    [type]="FormFieldType.File"
                    [required]="true"
                    [uploadFileAccepts]="allowedFileExtensions">
                </form-field>
            }

            <form-field
                [formControl]="form.controls.Caption"
                fieldLabel="Caption"
                [type]="FormFieldType.Text"
                placeholder="Enter image caption">
            </form-field>

            <form-field
                [formControl]="form.controls.SortOrder"
                fieldLabel="Sort Order"
                [type]="FormFieldType.Number">
            </form-field>
        </form>
    </div>
    <div class="modal-footer">
        <button
            class="btn btn-primary"
            (click)="save()"
            [disabled]="isSubmitting()"
            [buttonLoading]="isSubmitting()">
            {{ isCreateMode ? 'Upload' : 'Save' }}
        </button>
        <button
            class="btn btn-secondary"
            (click)="cancel()"
            [disabled]="isSubmitting()">
            Cancel
        </button>
    </div>
</div>
