<page-header pageTitle="Manage Contributing Organization Types"></page-header>

<div class="page-body">
    <!-- Organization Types -->
    <div class="flex-between no-wrap">
        <h4>Contributing Organization Types</h4>
        @if (isAdmin) {
            <button class="btn btn-sm btn-primary" (click)="openCreateOrgType()">New Contributing Organization Type</button>
        }
    </div>
    <div class="mt-2">
        <wadnr-grid
            [rowData]="orgTypes$ | async"
            [columnDefs]="orgTypeColumnDefs"
            downloadFileName="contributing-organization-types"
            fullscreenTitle="Contributing Organization Types"
            [sizeColumnsToFitGrid]="true">
        </wadnr-grid>
    </div>

    <!-- Project Relationship Types -->
    <div class="flex-between no-wrap mt-4">
        <h4>Project Relationship Types</h4>
        @if (isAdmin) {
            <button class="btn btn-sm btn-primary" (click)="openCreateRelType()">New Project Relationship Type</button>
        }
    </div>
    <div class="mt-2">
        <wadnr-grid
            [rowData]="relTypes$ | async"
            [columnDefs]="relTypeColumnDefs"
            downloadFileName="relationship-types"
            fullscreenTitle="Project Relationship Types"
            [sizeColumnsToFitGrid]="true">
        </wadnr-grid>
    </div>
</div>
