<page-header pageTitle="Manage Organization Types"></page-header>

<div class="page-body">
    <!-- Organization Types -->
    <div class="flex-between no-wrap">
        <h4>Organization Types</h4>
        @if (isAdmin) {
            <button class="btn btn-sm btn-primary" (click)="openCreateOrgType()">New Organization Type</button>
        }
    </div>
    <div>
        <wadnr-grid
            [rowData]="orgTypes$ | async"
            [columnDefs]="orgTypeColumnDefs"
            downloadFileName="organization-types"
            [sizeColumnsToFitGrid]="true">
        </wadnr-grid>
    </div>

    <!-- Project Relationship Types -->
    <div class="flex-between no-wrap mt-4">
        <h4>Project Relationship Types</h4>
        @if (isAdmin) {
            <button class="btn btn-sm btn-primary" (click)="openCreateRelType()">New Relationship Type</button>
        }
    </div>
    <div>
        <wadnr-grid
            [rowData]="relTypes$ | async"
            [columnDefs]="relTypeColumnDefs"
            downloadFileName="relationship-types"
            [sizeColumnsToFitGrid]="true">
        </wadnr-grid>
    </div>
</div>
