@use "/src/scss/abstracts" as *;

body {
    font-family: var(--ptsans);
    line-height: 1.4;
}

a {
    color: var(--color-link);
    text-decoration: none;

    &:hover,
    &:focus {
        color: #23527c;
    }
}

button {
    font-family: var(--ptsans);
}

.app__footer a {
    color: var(--white);
    text-decoration: underline;
}

main {
    color: var(--color-text);
}

.system-text {
    font-style: italic;
}
