<page-header pageTitle="Labels and Definitions">
    Use this page to update the definitions for fields used in this system. These definitions provide guidance or help to users who are viewing or editing information in this
    system. These definitions are visible to users when viewing a page or editor that lists these fields (e.g. the summary page for a project, and its popup editors); if a field
    has no definition, the "?" (Help) icon will be displayed in gray.
</page-header>

<div class="page-body">
    <wadnr-grid
        height="800px"
        [rowData]="fieldDefinitions$ | async"
        [columnDefs]="columnDefs"
        downloadFileName="field-definitions"
        [pagination]="true"
        [sizeColumnsToFitGrid]="true"></wadnr-grid>
</div>
