<page-header pageTitle="Programs" [customRichTextTypeID]="customRichTextTypeID"></page-header>

<div class="page-body">
    @if (canManagePrograms$ | async) {
        <div class="flex-end mb-2">
            <button class="btn btn-primary" (click)="openCreateModal()"><i class="fa fa-plus" aria-hidden="true"></i> Create New Program</button>
        </div>
    }
    <wadnr-grid [rowData]="programs$ | async" [columnDefs]="columnDefs" [getRowId]="getRowId" downloadFileName="programs" fullscreenTitle="Programs" (gridReady)="onGridReady($event)"></wadnr-grid>
</div>
