@use "/src/scss/abstracts" as *;

.confirm-modal {
    &__content {
        padding: var(--spacing-200);
        border-radius: var(--spacing-100);
        border: 1px solid var(--red-light);
        background-color: var(--red-lighter);
    }

    &__icon {
        color: var(--blue-default);
        font-size: large;

        &--default {
            color: var(--red-default);
        }
    }
}
