<table class="load-reduction__table table">
    <thead>
        <tr>
            <th></th>
            <th class="load-reduction__align-right">FSP (lbs)</th>
            <th class="load-reduction__align-right">TP (lbs)</th>
            <th class="load-reduction__align-right">TN (lbs)</th>
            <th class="load-reduction__align-right">Credit Potential</th>
        </tr>
    </thead>
    <tbody>
        @if (!roadRegistration?.PlrmZipFileResourceInfoID) {
        <tr>
            <td colspan="5" class="text-center load-reduction__system-text">Upload a PLRM zip file and assign scenarios to view expected load reduction</td>
        </tr>
        } @else {
        <tr>
            <td>Baseline</td>
            <td class="load-reduction__align-right">{{ roadRegistration?.FSPBaseline | number : "1.0-1" }}</td>
            <td class="load-reduction__align-right">{{ roadRegistration?.TPBaseline | number : "1.0-1" }}</td>
            <td class="load-reduction__align-right">{{ roadRegistration?.TNBaseline | number : "1.0-1" }}</td>
            <td class="load-reduction__align-right">N/A</td>
        </tr>
        <tr>
            <td><strong>Road Operations</strong></td>
            <td class="load-reduction__align-right">{{ roadRegistration?.FSPRoadOperations | number : "1.0-1" }}</td>
            <td class="load-reduction__align-right">{{ roadRegistration?.TPRoadOperations | number : "1.0-1" }}</td>
            <td class="load-reduction__align-right">{{ roadRegistration?.TNRoadOperations | number : "1.0-1" }}</td>
            <td class="load-reduction__align-right">N/A</td>
        </tr>
        <tr>
            <td><strong>Load Reduction</strong></td>
            <td class="load-reduction__align-right">{{ roadRegistration?.FSPLoadReduction | number : "1.0-1" }}</td>
            <td class="load-reduction__align-right">{{ roadRegistration?.TPLoadReduction | number : "1.0-1" }}</td>
            <td class="load-reduction__align-right">{{ roadRegistration?.TNLoadReduction | number : "1.0-1" }}</td>
            <td class="load-reduction__align-right">{{ roadRegistration?.CreditPotential | number : "1.0-1" }}</td>
        </tr>
        }
    </tbody>
</table>
