@if (projectType$ | async; as projectType) {
<breadcrumb [items]="[{ label: 'Projects by Type', url: '/projects-by-type' }, { label: projectType.ProjectTypeName }]" [linkLast]="false"></breadcrumb>
<page-header pageTitle="{{ projectType.ProjectTypeName }}"> </page-header>
<div class="grid-12">
    <div class="g-col-12">
        <div class="card">
            <div class="card-header"><span class="card-title">Basics</span></div>
            <div class="card-body">
                <div class="grid-12">
                    <div class="g-col-4">
                        <strong><field-definition fieldDefinition="ProjectType"></field-definition></strong>
                    </div>
                    <div class="g-col-8">{{ projectType.ProjectTypeName || "—" }}</div>
                    <div class="g-col-4">
                        <strong><field-definition fieldDefinition="LimitVisibilityToAdmin"></field-definition></strong>
                    </div>
                    <div class="g-col-8">{{ projectType.LimitVisibilityToAdmin ? "Yes" : "No" }}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="g-col-12">
        <div class="card">
            <div class="card-header">
                <span class="card-title"><field-definition fieldDefinition="ProjectTypeDescription"></field-definition></span>
            </div>
            <div class="card-body">
                @if (projectType.ProjectTypeDescription) {
                <div [innerHTML]="projectType.ProjectTypeDescription"></div>
                } @else {
                <span>—</span>
                }
            </div>
        </div>
    </div>
    <div class="g-col-12">
        <div class="card">
            <div class="card-header"><span class="card-title">Project Type Projects Map</span></div>
            <div class="card-body">
                <span>To zoom, hold down Shift and drag a rectangle.</span>
                <div class="map-legend-row">
                    <project-stage-map-legend />
                </div>

                <wadnr-map [mapHeight]="mapHeight" [selectedTileLayer]="'Terrain'" [showLegend]="false" (onMapLoad)="handleMapReady($event)">
                    @if(mapIsReady) { @if (projectPoints$ | async; as projectPoints) {
                    <project-locations-simple-layer
                        [map]="map"
                        [layerControl]="layerControl"
                        [projectPoints]="projectPoints"
                        [colorByPropertyName]="'ProjectStageID'"
                        [legendColorsToUse]="legendColorsToUse"
                        [filterPropertyName]="''"
                        [filterPropertyValues]="[]"
                        [clusterPoints]="false"
                        [renderAsCircleMarkers]="true"
                        [showDetailedPopup]="false">
                    </project-locations-simple-layer>
                    } @else {
                    <span>Loading map points…</span>
                    } }
                </wadnr-map>
                <span>
                    Some Projects operate over larger areas and are not represented on the map, but are listed in the Project grid below. A
                    <a href="/projects/map?filterType=ProjectTypeID&filterValues={{ projectType.ProjectTypeID }}">full-screen, filterable version of this map</a> is also available.
                </span>
            </div>
        </div>
    </div>
    <div class="g-col-12">
        <div class="card">
            <div class="card-header"><span class="card-title">Projects</span></div>
            <div class="card-body">
                @if (projects$ | async; as projects) {
                <wadnr-grid [rowData]="projects" [columnDefs]="columnDefs" [pinnedTotalsRow]="pinnedTotalsRow" [downloadFileName]="'projects'"></wadnr-grid>
                } @else {
                <span>Loading projects…</span>
                }
            </div>
        </div>
    </div>
</div>
}
