<table class="road-classes__table table table-condensed mt-3">
    <thead>
        <tr>
            <th><field-definition [fieldDefinition]="'RoadClass'"></field-definition></th>
            <th class="road-classes__align-right"><field-definition [fieldDefinition]="'ExpectedConditionScore'"></field-definition></th>
            <th>PLRM Model</th>
            <th class="road-classes__align-right"><field-definition [fieldDefinition]="'ImperviousArea'" [labelOverride]="'Impervious Area (acres)'"></field-definition></th>
            <th class="road-classes__align-right">
                <field-definition
                    [fieldDefinition]="'NumberOfRoadSegmentsNeededToMeetAssessmentRequirement'"
                    [labelOverride]="'# of Road Segments Needed To Meet Assessment Requirement'"></field-definition>
            </th>
        </tr>
    </thead>
    <tbody>
        @if (roadClasses.length === 0) {
        <tr>
            <td colspan="5" class="text-center road-classes__system-text">No Road Classes are entered in the system for this jurisdiction</td>
        </tr>
        } @else { @for (roadClass of roadClasses; track roadClass.RoadClassID) { @if (filterRoadClassesByScore(roadRegistrationScenarioRoadClasses, roadClass.ExpectedScore).length
        === 0) {
        <tr style="border-top: 2px solid #666">
            <td>
                <strong
                    ><a [routerLink]="['/road-classes', roadClass.RoadClassID]">{{ roadClass.RoadClassName }}</a></strong
                >
            </td>
            <td class="road-classes__align-right">{{ roadClass.ExpectedScore | number : "1.0-2" }}</td>
            <td></td>
            <td class="road-classes__align-right"></td>
            <td class="road-classes__align-right"></td>
        </tr>
        <tr>
            <td colspan="5" class="text-center road-classes__system-text">This Road Class was not found in any of the PLRM Road Operations scenarios</td>
        </tr>
        } @else {
        <tr style="border-top: 2px solid #666">
            <td>
                <strong
                    ><a [routerLink]="['/road-classes', roadClass.RoadClassID]">{{ roadClass.RoadClassName }}</a></strong
                >
            </td>
            <td class="road-classes__align-right">{{ roadClass.ExpectedScore | number : "1.0-2" }}</td>
            <td></td>
            <td class="road-classes__align-right">{{ getTotalImperviousAreaOfRoadRegistrationScenarioRoadClasses(roadClass, roadRegistrationScenarioRoadClasses) | number : "1.0-2" }}</td>
            <td class="road-classes__align-right">{{ getNumberOfRoadSegmentsRequiredForImperviousArea(roadClass, roadRegistrationScenarioRoadClasses) | number : "1.0-0" }}</td>
        </tr>

        @for(roadRegistrationScenarioRoadClass of filterRoadClassesByScore(roadRegistrationScenarioRoadClasses, roadClass.ExpectedScore); track
        roadRegistrationScenarioRoadClass.RoadRegistrationScenarioRoadClassID) {
        <tr>
            <td></td>
            <td class="road-classes__align-right"></td>
            <td>{{ roadRegistrationScenarioRoadClass.ModelName }} ({{ roadRegistrationScenarioRoadClass.ModelFolderName }})</td>
            <td class="road-classes__align-right">{{ roadRegistrationScenarioRoadClass.PlrmRoadClassArea | number : "1.0-2" }}</td>
            <td class="road-classes__align-right"></td>
        </tr>
        } } }
        <tr style="border-top: 2px solid #666">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="road-classes__align-right"><strong>Total: </strong>{{ totalNumberOfRoadSegmentsRequired }}</td>
        </tr>
        }
    </tbody>
</table>
