.ck-editor__editable {
    height: 20rem;

    & > * + * {
        margin-top: var(--spacing-500);
    }
}

.customRichTextContent {
    font-size: var(--type-size-200);
    line-height: 1.25em;

    & > * + * {
        margin-top: var(--spacing-500);
    }

    // Restore paragraph spacing stripped by normalize
    p {
        margin-bottom: var(--spacing-300);
    }

    // Restore list margins stripped by normalize
    ol,
    ul {
        margin-bottom: var(--spacing-300);
    }

    a {
        text-decoration: none;
    }
}

.customRichTextContent,
.ck-editor__editable {
    ol,
    ul {
        padding-left: var(--spacing-600);
    }

    ol {
        list-style-type: decimal;
    }

    ul {
        list-style-type: disc;
    }

    ul ul {
        list-style-type: circle;
    }

    ul ul ul {
        list-style-type: square;
    }

    li {
        padding: 0;
        margin: 0;
    }
}
