@use "/src/scss/abstracts" as *;

.dropdown {
    &-menu {
        display: none;

        @include desktop-small {
            position: absolute;
            z-index: 1111;
            top: 2rem;
            left: 0;
            background: white;
            width: 16rem;
            border-radius: var(--border-radius-200);
            box-shadow: var(--shadow-100);
        }

        &-right {
            @include desktop-small {
                left: unset;
                right: 0;
            }
        }

        &.active {
            padding-top: 0.5rem;
            display: block;

            @include desktop-small {
                padding-top: unset;
            }
        }
    }

    &-item {
        display: block;
        font-size: var(--type-size-300);
        padding: 1rem 0;
        color: var(--gray-900);

        @include desktop-small {
            padding: 1rem;
            transition: all 300ms ease;
            font-size: var(--type-size-200);
        }

        &:hover {
            color: var(--white);

            @include desktop-small {
                background: var(--secondary);
                color: var(--white);
            }
        }

        &:first-of-type {
            @include desktop-small {
                border-top-left-radius: var(--border-radius-200);
                border-top-right-radius: var(--border-radius-200);
            }
        }

        &:last-of-type {
            padding-bottom: 0;

            @include desktop-small {
                padding-bottom: 1rem;
                border-bottom-left-radius: var(--border-radius-200);
                border-bottom-right-radius: var(--border-radius-200);
            }
        }

        & + .dropdown-item {
            border-top: 1px solid rgba(white, 0.05);

            @include desktop-small {
                border-top: 1px solid rgba(black, 0.05);
            }
        }
    }
}

.dropdown-menu {
    &__water-dashboard {
        color: var(--white);

        @include desktop-small {
            width: 600px;

            color: var(--blue-700);
            padding: var(--spacing-500);
            padding-top: var(--spacing-500) !important;
        }

        &-grid {
            @include desktop-small {
                display: grid;
                grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
                gap: var(--spacing-400);
            }
        }

        a {
            color: var(--white);

            @include desktop-small {
                color: var(--blue-700);
            }
        }

        .water-accounts {
            &__header {
                padding-top: var(--spacing-200);
                font-size: 1rem;
                line-height: 1rem;
                font-weight: 500;

                @include desktop-small {
                    padding-top: 0;
                    padding-bottom: var(--spacing-200);
                    border-bottom: 1px solid var(--gray-200);
                }

                a:hover {
                    text-decoration: underline;
                }

                svg {
                    width: 14px;
                    height: 14px;
                }

                .count {
                    font-size: 0.875rem;
                }
            }
        }

        .right {
            padding-top: var(--spacing-400);

            @include desktop-small {
                padding-top: var(--spacing-200);
                border-left: 1px solid var(--gray-200);
                padding-left: var(--spacing-400);
            }
        }

        .water-account {
            display: grid;
            grid-template-columns: 2fr minmax(0, 1fr) minmax(0, 1fr);
            gap: var(--spacing-200) 0;
            align-items: center;
            padding: var(--spacing-300) 0 var(--spacing-200) 0;

            & + .water-account {
                border-top: 1px solid rgba(var(--white-rgb), 0.1);

                @include desktop-small {
                    border-top: 1px solid var(--gray-100);
                }
            }

            &__geography {
                grid-column: 1 / -1;
                font-size: 0.75rem;

                @include desktop-small {
                    color: var(--gray-600);
                }
            }

            &__number {
                display: flex;
                align-items: center;
                gap: var(--spacing-100);

                &-label {
                    display: block;
                    font-weight: bold;
                    text-decoration: underline;
                    font-size: 0.875rem;
                }

                .zone {
                    background: #7f3c8d;
                    color: var(--white);
                    font-size: 10px;
                    font-weight: bold;
                    line-height: 1em;
                    display: block;
                    padding: 5px 8px 4px 8px;
                    border-radius: var(--border-radius-500);
                    transform: translateY(-1px);
                }
            }

            &__parcels {
                font-weight: 600;
                display: flex;
                align-items: center;
                gap: var(--spacing-100);

                svg {
                    color: var(--blue-700);
                    width: 10px;
                    height: 10px;
                }

                .count {
                    font-size: 12px;

                    @include desktop-small {
                        color: var(--gray-900);
                    }
                }
            }

            &__acres {
                text-align: right;
                font-size: 12px;

                @include desktop-small {
                    color: var(--gray-600);
                }
            }
        }

        .main-links {
            display: grid;
            gap: var(--spacing-300);
        }

        .main-link {
            font-size: 1rem;
            line-height: 1rem;
            font-weight: 500;

            a:hover {
                text-decoration: underline;
            }

            svg {
                width: 14px;
                height: 14px;
            }

            .count {
                font-size: 0.875rem;
            }
        }

        .other-links {
            margin-top: var(--spacing-400);
            padding-top: var(--spacing-400);
            display: grid;
            gap: var(--spacing-300);
            border-top: 1px solid rgba(var(--white-rgb), 0.1);

            @include desktop-small {
                border-top: 1px solid var(--gray-200);
            }
        }

        .other-link {
            font-size: 0.875rem;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__help {
        left: unset;
        right: 0;
    }
}
