@use "/src/scss/abstracts" as *;

.page {
    &-header {
        margin-bottom: 0.5rem;

        .page-tab {
            text-transform: uppercase;
            letter-spacing: 0.05em;
            font-size: var(--type-size-200);
            color: var(--secondary);
            padding-bottom: 0.5rem;
        }

        .page-title {
            padding-bottom: 0;
        }
    }

    &-body {
        .sidebar-help {
            padding-top: 3rem;

            @include desktop-medium {
                padding-top: 0;
                border-left: 1px solid rgba(27, 47, 54, 0.25);
                padding-left: 1rem;
                margin-left: 2rem;
            }

            .headline {
                padding-bottom: 0.5rem;

                h3 {
                    font-size: var(--type-size-300);
                    color: var(--secondary);
                }

                i {
                    display: inline-block;
                    margin-right: 0.25rem;
                }
            }
        }
    }

    &-footer {
        padding-top: 2rem;
        border-top: 1px solid rgba(27, 47, 54, 0.25);
        margin-top: 2rem;
        text-align: right;
    }
}
