@use "/src/scss/abstracts" as *;

.pagination-controls {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;

    &__button {
        border: none;
        background-color: transparent;
        color: var(--gray-600);
        min-height: 24px;
        min-width: 24px;

        &:disabled {
            color: var(--gray-300);
            cursor: not-allowed;
        }
    }

    &__text {
        padding: 0 var(--spacing-200);
        width: 200px;
        text-align: center;
    }
}
